
body {
    background-color: #656565;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.window {
    background-color: #fff;
    width: 476px;
    height: 419px;
    border-radius: 40px;
    margin-left: auto;
    margin-top: 225px;
    position:absolute;
}
.title1 {
    color: #000;
    width: 226px;
    height: 5px;
    padding-left: 125px;
    margin-top: 70px;
    
    position:absolute;
}
.gmail_form{
    width: 361px;
    height: 92px;
    position:absolute;
    margin-top: 124px;
    margin-left: 51px;

}

.gmail_label{
position: absolute;
}
.gmail_input{
    position: absolute;
    background-color: #FCFCFC;
    border-radius: 50px;
    width: 90%;
    height: 55px;
    padding-inline: 5%;
    margin-top: 35px;
    border-style: none;
}

.submit{ 

    position:absolute;
    width: 373px;
    height: 55px;
    margin-top: 238px;
    margin-left: 41.25px;
    border-radius: 50px;
    background-color: #FF8532;
    color: #FCFCFC;
    text-align: center;
}

.res{
    color: #1B1B1B;
    text-decoration: none;
    width: 150px;
    height: 50px;    
    margin-top: 305px;
    margin-left: 163px;
    position:absolute;
    border-style: none;
    padding: 10px;
}